---
import CSS3LogoSrc from "./logos/CSS3Logo.svg";
import EslintLogoSrc from "./logos/ESLintLogo.png";
import ExpressLogoSrc from "./logos/ExpressLogo.png";
import GitLogoSrc from "./logos/GitLogo.png";
import HTML5LogoSrc from "./logos/HTML5Logo.png";
import JavascriptLogoSrc from "./logos/JavascriptLogo.png";
import JestLogoSrc from "./logos/JestLogo.png";
import JWTLogoSrc from "./logos/JWTLogo.svg";
import NodeJsLogoSrc from "./logos/NodeJsLogo.svg";
import SQLLogoSrc from "./logos/SQLLogo.png";
import TailwindLogo from "./logos/TailwindLogo.svg";
import TypeORMLogo from "./logos/TypeORMLogo.svg";
import TypescriptLogoSrc from "./logos/TypeScriptLogo.png";
import ReactIconSrc from "./logos/ReactLogo.png";
---

<style>
  .meContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    text-align: justify;
    font-size: 150%;

    width: 50%;

    padding: 2rem;
  }

  .header {
    font-size: 150%;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content {
    font-size: 80%;
    color: rgba(255, 255, 255, 0.7);
  }

  .pckRef {
    color: #ed2823;
  }

  .dkmsRef {
    color: #e2011b;
  }

  .bookRef {
    color: var(--neonBlue);
  }

  .technologiesKnow {
    display: grid;
    grid-auto-rows: 1fr;

    justify-items: center;
    align-items: center;
    gap: 0.5rem;
  }

  .technologiesKnow > *,
  .technologiesKnow > * > * {
    height: 64px;
    width: 64px;
  }

  .sqlCell {
    grid-column: 3/5;
    width: 128px;
  }

  .skills {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 0.75rem;
  }

  .skillsHeader {
    font-size: 175%;
  }

  .technologiesLearn {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }

  .technologiesLearn > *,
  .technologiesLearn > * > * {
    width: 64px;
    height: 64px;
  }

  .aboutFlexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .resumeRef {
    padding: 1rem 1.25rem;

    border-radius: 3rem;
  }

  a:hover {
    filter: brightness(0.65);
  }

  @media only screen and (max-width: 767px) {
    .aboutFlexbox {
      flex-direction: column;
    }

    .meContent {
      width: 100%;
    }

    .skills {
      width: 100%;
    }
  }
</style>

<div class="aboutFlexbox">
  <section class="meContent">
    <h1 class="header neonGreen">A little about me</h1>
    <div class="contentWrapper">
      <p class="content">
        I am a highly motivated, self-taught programmer with a passion for
        designing visually appealing and high-performance applications. With
        extensive observations of the rapidly-evolving landscape of the XXI
        century Internet, I possess a deep understanding of how technology grows
        and matures.
      </p>
      <p class="content">
        I am committed to making a positive impact on society through my
        volunteer work with organizations such as
        <a class="pckRef" href="https://pck.pl/" referrerpolicy="no-referrer">
          Polski Czerwony Krzyż</a
        >
        and
        <a
          class="dkmsRef"
          href="https://www.dkms.pl/"
          referrerpolicy="no-referrer">DKMS</a
        >.
      </p>
      <p class="content">
        Additionally, I have authored
        <a
          class="bookRef"
          href="https://helion.pl/ksiazki/administrowanie-sieciowymi-systemami-operacyjnymi-windows-serwer-i-linux-serwer-bartosz-mrosek-krzysztof-chrobok,e_2y4x.htm#format/e"
          referrerpolicy="no-referrer"
        >
          a book</a
        >
        focused on helping younger generations achieve better scores on technical
        exams, specifically in Layers 2, 3 and 4 of the OSI model.
      </p>
      <p class="content">
        I am confident that my software development skills will enable me to
        achieve my goal of creating impactful software.
      </p>
    </div>
    <a
      aria-label="Open P D F file"
      href="/Bartosz_Resume.pdf"
      class="resumeRef neonBorder neonGreen">Resume</a
    >
  </section>
  <section class="skills">
    <h1 class="neonBlue skillsHeader">Tools I know</h1>
    <div class="technologiesKnow">
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://html.spec.whatwg.org/multipage/"
      >
        <img src={HTML5LogoSrc} alt="A html 5 logo" />
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://www.w3.org/Style/CSS/"
      >
        <img src={CSS3LogoSrc} alt="A css 3 logo" />
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/"
      >
        <img src={JavascriptLogoSrc} alt="Javascript logo" />
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://www.typescriptlang.org/"
      >
        <img src={TypescriptLogoSrc} alt="Typescript logo" />
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://git-scm.com/"
      >
        <img src={GitLogoSrc} alt="Git logo" />
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://eslint.org/"
      >
        <img src={EslintLogoSrc} alt="Eslint logo" />
      </a>
      <a referrerpolicy="no-referrer" target="_blank" href="https://jestjs.io/">
        <img src={JestLogoSrc} alt="Jest logo" />
      </a>
      <a referrerpolicy="no-referrer" target="_blank" href="https://react.dev/">
        <img src={ReactIconSrc} alt="React logo" />
      </a>
      <a referrerpolicy="no-referrer" target="_blank" href="https://jwt.io/">
        <img src={JWTLogoSrc} alt="JWT logo" />
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://tailwindcss.com/"
      >
        <img src={TailwindLogo} alt="Talwindcss logo" />
      </a>
      <img src={SQLLogoSrc} class="sqlCell" alt="SQL logo" />
    </div>
    <h1 class="neonYellow skillsHeader">What I am learning</h1>
    <div class="technologiesLearn">
      <a
        target="_blank"
        referrerpolicy="no-referrer"
        href="https://nodejs.org/"
      >
        <img src={NodeJsLogoSrc} alt="Nodejs logo" />
      </a>
      <a
        target="_blank"
        referrerpolicy="no-referrer"
        href="https://expressjs.com/"
      >
        <img src={ExpressLogoSrc} alt="Express logo" />
      </a>
      <a
        target="_blank"
        referrerpolicy="no-referrer"
        href="https://typeorm.io/"
      >
        <img src={TypeORMLogo} alt="TypeORM logo" />
      </a>
    </div>
  </section>
</div>
